### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player = len(purchase_data["SN"].unique())
player_df = pd.DataFrame({"Total players":player},index = [0])
player_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculations over purchase_data
unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
purchases = len(purchase_data["Purchase ID"])
revenue = purchase_data["Price"].sum()

# Create Summary DataFrame
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [avg_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [revenue]
})

# Format money columns
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Display summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create Gender data frame with unique players
player_unique = pd.DataFrame.drop_duplicates(purchase_data[["SN","Gender"]])

# Count by Gender
gender_df = player_unique["Gender"].value_counts().to_frame()

# Add column for percentage
gender_df["Percentage of Players"] = round(gender_df["Gender"]*100/gender_df["Gender"].sum(), 2).apply(str) + "%"
gender_df.rename(columns = {'Gender':'Total Count'}, inplace = True) 
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create Gender data frame with price
purchase_analysis_df = pd.DataFrame(purchase_data[["Gender", "Price"]])

# DF group by gender
group_df = purchase_analysis_df.groupby(['Gender'])

# Purchase Count by Gender  
purchase_count = pd.DataFrame(purchase_data["Gender"].value_counts())
purchase_count.rename(columns = {'Gender':'Purchase Count'}, inplace = True)

# Total purchase price by Gender 
total_purchase_price_df = pd.DataFrame(group_df["Price"].sum())

# Avg purchase price by Gender
avg_purchase_price_df = pd.DataFrame(group_df["Price"].mean())

# Consolidate results and calculate Average Total Purchase per Person
gender_counts = purchase_data.groupby(['Gender']).sum()["Price"].to_frame()
purchase_count["Avg Total Purchase per Person"] = gender_counts["Price"]/gender_df["Total Count"]
purchase_count["Average Purchase Price"] = avg_purchase_price_df["Price"].map("${:,.2f}".format)
purchase_count["Total Purchase Value"] = total_purchase_price_df["Price"].map("${:,.2f}".format)

# Format result
purchase_count["Avg Total Purchase per Person"] = purchase_count["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_count = purchase_count[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
purchase_count

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create Ages DataFrame with unique players
ages = pd.DataFrame.drop_duplicates(purchase_data[["SN","Age"]]) 

# Define Bins Ages 
age_max = ages["Age"].max()
ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, (age_max)]
ages_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
ages_df = pd.cut(ages['Age'], ages_bin, labels=ages_label, include_lowest=True).to_frame() 

# Count by Age Range
ages_agg_df = ages_df["Age"].value_counts().to_frame()

# Add column for percentage
ages_agg_df["Percentage of Players"] = round(ages_agg_df["Age"]*100/ages_agg_df["Age"].sum(), 2).apply(str) + "%"
ages_agg_df.rename(columns = {'Age':'Total Count'}, inplace = True) 
ages_agg_df.reindex(ages_label)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create Purchase Analysis with Ages DataFrame
purchase_age_df = pd.DataFrame(purchase_data[["Age", "SN", "Price"]]) 

# Define Bins Ages 
age_max = purchase_age_df["Age"].max()
ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, (age_max)]
ages_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_age_df["Age Ranges"] = pd.cut(purchase_age_df["Age"], ages_bin, labels=ages_label, include_lowest=True) 
purchase_age_df = purchase_age_df.groupby("Age Ranges")

# Purchase Counts
compradores = pd.DataFrame(purchase_age_df[['Age']].count())
compradores.rename(columns = {'Age':'Purchase Count'}, inplace = True) 

# Total Purchase
total_purchase = pd.DataFrame(purchase_age_df[['Price']].sum())
total_purchase.rename(columns = {'Price':'Total Purchase Value'}, inplace = True) 

# Avg Total Purchase per Person
age_p_counts = pd.DataFrame(purchase_data[["Age", "Price"]])
age_p_counts["Ranges"] = pd.cut(age_p_counts["Age"], ages_bin, labels=ages_label, include_lowest=True) 
age_p_counts = age_p_counts.groupby("Ranges").sum()["Price"].to_frame()

In [8]:
# Create Summary
summary_purchase_1 = pd.merge(compradores, total_purchase, on="Age Ranges")
summary_purchase_1["Average Purchase Price"] = (summary_purchase_1["Total Purchase Value"])/(summary_purchase_1["Purchase Count"])
summary_purchase_1["Avg Total Purchase per Person"] = age_p_counts["Price"]/(ages_agg_df["Total Count"])

# Format result
summary_purchase_1["Average Purchase Price"] = summary_purchase_1["Average Purchase Price"].map("${:,.2f}".format)
summary_purchase_1["Total Purchase Value"] = summary_purchase_1["Total Purchase Value"].map("${:,.2f}".format)
summary_purchase_1["Avg Total Purchase per Person"] = summary_purchase_1["Avg Total Purchase per Person"].map("${:,.2f}".format)
summary_purchase_1 = summary_purchase_1[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
summary_purchase_1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create User Purchase DataFrame
top_spenders_df = pd.DataFrame(purchase_data[["SN", "Price"]]) 
top_spenders_df = top_spenders_df.groupby("SN")
#top_spenders_df.head(3).sort_values(by='SN', ascending=False)

In [10]:
# Purchase Counts
top_purchase = pd.DataFrame(top_spenders_df[['SN']].count())
top_purchase.rename(columns = {'SN':'Purchase Count'}, inplace = True)
#top_purchase.sort_values(by='Purchase Count', ascending=False)

In [11]:
# Total Purchase Value
t_purchase_price = pd.DataFrame(top_spenders_df[['Price']].sum())
#t_purchase_price.sort_values(by='Price', ascending=False)

In [12]:
top_purchase["Purchase Count"]=top_purchase.sort_values(by='Purchase Count', ascending=False)
top_purchase["Total Purchase Value"]=t_purchase_price.sort_values(by='Price', ascending=False)
top_purchase["Average Purchase Price"] = top_purchase["Total Purchase Value"]/top_purchase["Purchase Count"]
top_purchase.sort_values(by='Total Purchase Value', ascending=False)
t_purchase = top_purchase.sort_values(by='Total Purchase Value', ascending=False).head(5)

# Format result
t_purchase["Total Purchase Value"] = t_purchase["Total Purchase Value"].map("${:,.2f}".format)
t_purchase["Average Purchase Price"] = t_purchase["Average Purchase Price"].map("${:,.2f}".format)
t_purchaset = t_purchase[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
t_purchaset

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_items_df = pd.DataFrame(purchase_data[["Item ID","Item Name","Price"]])

# DF group by Item ID and Item Name
popular_items_group_df = popular_items_df.groupby(['Item ID', 'Item Name'])

summary_total_df = pd.DataFrame(popular_items_group_df[['Item Name']].count())
summary_total_df[] = popular_items_group_df[['Price']].sum()
purchase_average_df 

# purchase count, average item price, and total purchase value
purchase_item = popular_items_group_df["Item ID"].value_counts()
purchase_total = popular_items_group_df["Price"].sum()
purchase_average = popular_items_group_df["Price"].mean()


# Create Summary DataFrame
popular_summary_df = pd.DataFrame({
    "Purchase Count": [unique_items],
    "Item Price": [avg_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [revenue]
})

# Format money columns
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

# Display summary data frame
summary_df

purchase_counts_item.rename(columns = {'Item ID':'Purchase Count'}, inplace = True)
#purchase_counts_item["Item Price"] = popular_items_df.loc[popular_items_df["Item Name"] == purchase_counts_item["Item Name"], ["Price"]]

purchase_counts_order = purchase_counts_item.sort_values(by='Purchase Count', ascending=False).head(5)
popular_items_df

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...

In [22]:
popular_items_df = pd.DataFrame(purchase_data[["Item ID","Item Name","Price"]])

# DF group by Item ID and Item Name
popular_items_group_df = popular_items_df.groupby(['Item ID', 'Item Name'])

summary_total_df = pd.DataFrame(popular_items_group_df[['Item Name']].count())
summary_total_df.rename(columns = {'Item Name':'Purchase Count'}, inplace = True)
summary_total_df.head()

                            Purchase Count
Item ID Item Name
0       Splinter                         4
1       Crucifer                         4
2       Verdict                          6
3       Phantomlight                     6
4       Bloodlord's Fetish               5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
profitable_items = purchase_counts_item.sort_values(by='Total Purchase Value', ascending=False).head(5)
profitable_items

NameError: name 'purchase_counts_item' is not defined